<h1>User Info:</h1>
<br>
<div>First Name: {{firstName}}</div>
<div>Last Name: {{lastName}}</div>
<div>Username: {{userName}}</div>
<div>Email: {{email}}</div>
<div>Age: {{age}}</div>
<br>
<div>(((Reviews go here)))</div>