<div class="container my-5">
    <div class="row mb-4">
        <div class="col">
            <a href="/restaurants/new" class="btn btn-primary ">Create a new restaurant</a>
        </div>
    </div>

    <div class="row">
        <div class="col col-4">
            <label for="myInput"></label>
            <input type="text" class="form-control" id="myInput" onkeyup="fName('myInput',0)" placeholder="Search Restaurant Name">
        </div>
        <div class="col col-4">
            <label for="myInput_2"></label>
            <input type="text" class="form-control" id="myInput_2" onkeyup="fName('myInput_2',2)" placeholder="Search Cuisine Type">
        </div>
    </div>
    <div class="row">
        <div class="col col-4">
            <div class="rating-slider w-100">
                <label for="rsb" class="font-weight-bold">Rating above: <span id="rsd" class="ml-2"></span></label>
                <input value="1" min="1" max="5" step="0.1" type="range" id="rsb" onmouseup="fNum('rsb',3)" onkeyup="fNum('rsb',3)">
            </div>
        </div>
        <div class="col col-4">
            <div class="price-slider w-100">
                <label for="psb" class="font-weight-bold">Price below: <span id="psd" class="ml-2"></span></label>
                <input value="5" min="1" max="5" step="0.1" type="range" id="psb" onmouseup="fNum('psb',4,(a,b)=>a<=b)" onkeyup="fNum('psb',4,(a,b)=>a<=b)"> 
            </div>
        </div>
    </div>
</div>

<div class="container m-5">
    <table class="table table-hover">
    <thead class="thead-light">
        <th scope="col">Restaurant Name</th>
        <th scope="col">Restaurant Address</th>
        <th scope="col">Cuisine</th>
        <th scope="col">Rating</th>
        <th scope="col">Price Level</th>
    </thead>
    <tbody>
        {{#each restaurants}}
        <tr class="clickable-row" id="{{this._id}}"data-href="/restaurants/{{this._id}}">
            <td>{{this.name}}</td>
            <td>{{this.address}}</td>
            <td>{{this.cuisine}}</td>
            <td>{{this.rating}}</td>
            <td>{{this.price}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>
<div class="container m-5" id="no-result" hidden=""><p><span class="fa fa-exclamation-circle"/>&#0160;No result found</p></div>