<div class="container m-5 col-2">
	<input type="text" id="myInput" onkeyup="fName('myInput',0)" placeholder="Search Restaurant Name">
	<input type="text" id="myInput_2" onkeyup="fName('myInput_2',2)" placeholder="Search Cuisine Type">
    <div class="rating-slider">
        <label for="rsb">Rating above: <span id="rsd"></span></label>
        <input value="1" min="1" max="5" step="0.1" type="range" id="rsb" onmouseup="fNum('rsb',3)" onkeyup="fNum('rsb',3)">
    </div>
    <div class="price-slider">
        <label for="psb">Price below: <span id="psd"></span></label>
        <input value="5" min="1" max="5" step="0.1" type="range" id="psb" onmouseup="fNum('psb',4,(a,b)=>a<=b)" onkeyup="fNum('psb',4,(a,b)=>a<=b)"> 
    </div>
    <ul class="list-group">
        <li class="list-group-item"><a href="/restaurants/new">Create a new restaurant</a></li>
    </ul>
</div>

<div class="container m-5">
    <table class="table table-hover">
    <thead class="thead-light">
        <th scope="col">Restaurant Name</th>
        <th scope="col">Restaurant Address</th>
        <th scope="col">Cuisine</th>
        <th scope="col">Rating</th>
        <th scope="col">Price Level</th>
    </thead>
    <tbody>
        {{#each restaurants}}
        <a href="">
            <tr class="clickable-row" id="{{this._id}}"data-href="/restaurants/{{this._id}}">
                <td>{{this.name}}</td>
                <td>{{this.address}}</td>
                <td>{{this.cuisine}}</td>
                <td>{{this.rating}}</td>
                <td>{{this.price}}</td>
            </tr>
        </a>
        {{/each}}
    </tbody>
</table>
</div>
