<div class="container ">
    <div class="row">
        <div class="col">
            <div class="border-bottom mt-3">
                <h1 class="display-4 font-weight-bold">{{restaurant.name}}</h1>
                <h5 class="font-italic">{{restaurant.address}}</h5>
                <h5 class="text-secondary">{{restaurant.cuisine}}</h5>
            </div>
                
            <div class="border-bottom mt-3">
                <h3 class="font-weight-bold">Reviews</h3>
                {{#each reviews}}
                    {{!-- Grid layout with two columns: one for the user info, another for the actual review --}}
                    <div class="row border-bottom py-5">
                        <div class="col col-3 bg-secondary">
                            {{this.reviewerId}}
                        </div>
                        <div class="col col-9 bg-light">
                            {{this.reviewText}}
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="col bg-primary col-sm-4 mt-3">
            this is a blue container 
        </div>
    </div>
</div>